/* src/pages/HomePage.css */
.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #001f3f; /* 남색 배경 */
    color: white;
    min-height: 100vh;
    padding: 20px;
  }
  
  .title {
    font-size: 48px;
    margin-bottom: 10px;
  }
  
  .subtitle {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .description {
    color: #d3d3d3; /* 회색 글씨 */
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
    max-width: 600px;
  }
  
  .hot-destinations-title {
    font-size: 20px;
    margin: 30px 0 10px 0;
  }
