/* src/App.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #001f3f; /* 남색 배경 */
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}
